# Go local binaries and test builds
/main
/app-repo
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Editor and Workspace folders
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
